* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p, h1, h2, h3, h4, h5, h6, td, div {
    cursor: default;
}
h1, h2, .h3, .ripplelink{
    text-transform: uppercase;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 300px;
}
#sidebar-wrapper {
    z-index: 2;
    position: fixed;
    left: -10px;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    background: #FAFAFA;
    border-right: 1px solid #E9E9E9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    left: 300px;
}
#sidebar-toggled {
    position: relative;
    background: #FAFAFA;
    overflow: hidden;
    border: 1px solid #E9E9E9;
}
#sidebar-toggled a {
    font-size: 16px;
    text-decoration: none;
    color: #333333;
}
#sidebar-toggled a:hover {
    text-decoration: none;
    background: #F0F0F0;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    animation-duration: 1.5s;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav > .sidebar-list {
    line-height: 40px;
}
.sidebar-list a {
    padding-right: 40px;
    text-align: right;
}
a {
    text-decoration: none;
    color: #999999;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
a:hover {
    text-decoration: none;
    color: #555555;
}
a:active,
a:focus {
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333333;
    background: #F0F0F0;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #333333;
}
.sidebar-nav > .sidebar-brand {
    text-indent: 0px;
    font-size: 25px;
    line-height: 60px;
    text-align: center
}
.sidebar-nav > .sidebar-padding {
    height: 40px;
}
.sidebar-nav > .sidebar-brand a {
    color: #333333;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}
.sidebar-nav > .sidebar-footer {
    text-indent: 0px;
    text-align: center;
    width: 300px;
    line-height: 30px;
}
.sidebar-nav > .sidebar-footer a {
    text-indent: 0px;
    text-align: center;
    display: inline;
    line-height: normal;
}
.sidebar-footer > .btn:focus {
    outline: none;
}
#sidebar-toggled div {
    text-align: center;
}
#sidebar-toggled a {
    text-decoration: none;
}
.contact {
    text-align: center;
}
.popover-title {
    display: none;
}
.qr {
    width: 180px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 300px;
    }
    #wrapper.toggled #sidebar-toggled {
        height: auto;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.boardless tbody tr td {
    border: none;
    vertical-align: middle;
}
.td-right {
    text-align: right;
}
.td-left {
    text-align: left;
}
.td-bold {
    font-weight: bold;
}
.popover {
    background: #F0F0F0;
}
.popover.bottom .arrow:after {
    border-bottom-color: #F0F0F0;
}
.portrait {
    width: 50%;
}
.img {
    position: relative;
}
.top-portrait {
    position: relative;
    top: 0px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.bottom-portrait {
    position: absolute;
    top: 0px;
    left: 75px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.top-portrait:hover {
    opacity: 1;
}
.bottom-portrait:hover {
    opacity: 0;
}
.cr-footer {
    margin: 0px auto;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    color: #999999;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.crpage-footer {
    margin: 0px auto;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    color: #999999;
}
div.carousel-img-container {
    width: 100%;
    height: 255px;
}
div.carousel-img-container img {
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.ripplelink {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}
.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.animate {
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}
@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
#top-link-block.affix-top {
    position: absolute;
    bottom: -90px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.label,
.btn,
.alert,
.well {
    border-radius: 0;
}
.btn-warning {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.btn-more,
.btn-more:hover,
.btn-more:focus,
.btn-more:active {
    background-color: white;
    background-image: -webkit-linear-gradient(0deg, #f5f5f5, white);
    background-image: linear-gradient(0deg, #f5f5f5, white);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.animated {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.h3 {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1), 2px -2px 5px rgba(255, 255, 255, 1), -2px 2px 5px rgba(255, 255, 255, 1), -2px -2px 5px rgba(255, 255, 255, 1);
}
.h3 a{
    color: #333333;
}
.badge-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}
.label-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}
.label-div {
    line-height: 25px;
}
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg);
    }
    40%,
    60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg);
    }
    80%,
    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}
@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    10%,
    20% {
        -webkit-transform: scale(.9) rotate(-8deg);
        -ms-transform: scale(.9) rotate(-8deg);
        transform: scale(.9) rotate(-8deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        -ms-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg);
    }
    40%,
    60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        -ms-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg);
    }
    80%,
    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}
.faa-tada.animated {
    -webkit-animation: tada 2s linear infinite;
    animation: tada 2s linear infinite;
}
@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.faa-float.animated {
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite;
}
.popover-content {
    padding: 0px 0px;
}
.modal-content {
    border-radius: 0;
}